@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
}
main {
  margin: 0;
  height: 680px;
  border: 1px solid black;
  width: 360px;
  background-color: #fcf9f9;
  box-sizing: border-box;
}
.search-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 40px;
}
.search-container i {
  color: #b8b8b8;
  margin-left: 5%;
}
.search-container-box {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-left: 5%;
  transform: 1s;
  border-bottom: 1px solid rgb(100, 100, 100);
}

a .search-container-box i {
  margin-right: 5px;
  color: #b8b8b8;
}
.search-container-box input {
  outline: none;
  border: none;
  margin-left: 3%;
  height: 80%;
  color: #7c7c7c;
}
.dummy {
  width: 20%;
}
.bg {
  height: 12%;
  background-color: #acacac79;
}
.bg img {
  height: 80%;
  margin-top: 42px;
  margin-left: 10px;
  box-shadow: 2px 2px #cfcfcf;
}
.details {
  height: 120px;
  padding: 7px;
  margin-top: 33px;
  border-bottom: 2px solid #acacac79;
}
.details h6 {
  font-size: 23px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 11px;
}
.details p {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.posted {
  height: 27px;
  padding: 0px 10px;
  padding-top: 8px;
  font-size: 13px;
  color: black;
  border-bottom: 1px solid #acacac79;
}
.post-details img {
  height: 50px;
  margin-top: 4px;
}
.post-details {
  display: flex;
  padding: 5px;
}
.post-details p {
  margin: 0;
  padding: 0;
  color: #969696;
  font-size: 12px;
}
.post-text {
  font-size: 14px;
  padding: 0px 10px;
  color: #000000;
  margin: 0;
}
.posImage {
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.postImage img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 170px;
}
